/* .radioContainer {
  background-image: url(https://eco-act.com/app/uploads/2017/02/Footprint.jpg);
  filter: blur(8px);
  -webkit-filter: blur(8px); 
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  display: block;
  height: 100%;
  width: 100%;
} */

.title {
  font-family: "Brush Script MT";
  text-decoration: underline;
  font-size: 72px;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}